$fa-font-path : '../node_modules/font-awesome/fonts';

$lt-gray: #ddd;
$background-light:#a4dcea;
$background-dark:#49727c;
$background-dark2: #a4b0ea;
$background-pale: #a0c7e5;
$background-moredark: #b9a0e5;
$background-red: #70a9e5;